<h1>Sign up!</h1>

<% if @user.errors.any? %>
    <ol>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ol>
<% end %>

<%= form_for @user do |f| %>
    <%= f.label :email, :class => 'form-label' %>
    <%= f.email_field :email, :class => 'form-control' %>

    <%= f.label :password, :class => 'form-label' %>
    <%= f.password_field :password, :class => 'form-control' %>

    <%= f.label :password_confirmation, :class => 'form-label' %>
    <%= f.password_field :password_confirmation, :class => 'form-control' %>

    <%= f.submit "Sign up!", :class => 'btn btn-success btn-lg' %>
<% end %>
