<h1>Dashboard</h1>

<p>Brother: <span id="brother"><%= @brother %></span></p>
<p>Time: <span id="time"><%= @time %></span></p>
<p>Uptime: <span id="uptime"><%= @uptime %></span></p>
<p>Calls on hold: <span id="calls"><%= @calls_on_hold %></span></p>
<p>Bushfires: <%= @bushfires %></p>
