<!DOCTYPE html>
<html>
  <head>
    <title>Tunr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Sign up!", new_user_path %>
      <%= link_to "Sign in", login_path %>
      <%= link_to "Log out", login_path, :method => :delete %>
    </nav>
    <%= yield %>
  </body>
</html>
