<h1>
    <%= @planet.name %>
</h1>

<%= image_tag @planet.image if @planet.image.present? %>

<ul>
    <li>Name: <%= @planet.name %></li>
    <li>Orbit: <%= @planet.orbit %></li>
    <li>Diameter: <%= @planet.diameter %></li>
    <li>Mass: <%= @planet.mass %></li>
    <li>Moons: <%= @planet.moons %></li>
</ul>

<div class="controls">
    <%= link_to "Edit planet", edit_planet_path(@planet.id) %>
    <%= link_to "Delete planet", delete_planet_path(@planet.id) %>
</div>
